/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-img: './../images/cover-image-light.png';
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --caption-with-bg-color: #353430;
  --caption-without-bg-color: #353430;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --transparent-accent-color: #FF8DCB;
}

.theme-light .header__decor-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img: './../images/cover-image-light.png';
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --caption-with-bg-color: #353430;
    --caption-without-bg-color: #353430;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --transparent-accent-color: #FF8DCB;
  }

  .header__decor-rec {
    display: none;
  }
}