/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-img: './../images/cover-image.png';
  --bg-color: #000028;
  --title-color: #db00ff;
  --caption-with-bg-color: #000028;
  --caption-without-bg-color: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --transparent-accent-color: rgb(255 0 112 / 0.4);
  --main-font: 'IBM Plex mono';
  --section-gap: 40px;
  --main-gap: 40px;
  --article-gap: 20px;
  --page-padding: 10px;
}
